{% load static %}
{% include "header.html" %}
<style>
    body {
        background-image: url('https://media.licdn.com/dms/image/D5612AQFFscwpd7LGJQ/article-cover_image-shrink_720_1280/0/1675281160407?e=2147483647&v=beta&t=KCvb43upooIMcKX2fFHrdO1ZyPqMiI47EkDr1pVJF0g');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        padding-top: 50px;
    }
</style>
<marquee style="font-size: 30px; color:red;font-family: monotype corsiva;margin-top: 0.5%;cursor: pointer;">
     Event Booking Management System
 </marquee>

<!-- carousel start-->
<div id="demo" class="carousel slide" data-ride="carousel"
style = "margin-top : 8px">

  <!-- Indicators -->

  <!-- The slideshow -->


  <!-- Left and right controls -->


